@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1769508414280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leibao:before {
  content: "\e60d";
}

.icon-duoyun:before {
  content: "\e612";
}

.icon-qingtian:before {
  content: "\e613";
}

.icon-xiaoyu:before {
  content: "\e614";
}

.icon-yin:before {
  content: "\e615";
}

.icon-duoyunzhuanqing:before {
  content: "\e61a";
}

.icon-xiaoxue:before {
  content: "\e61d";
}

.icon-wu:before {
  content: "\e61f";
}

.icon-yujiaxue:before {
  content: "\e624";
}

.icon-shachenbao:before {
  content: "\e628";
}

.icon-mai:before {
  content: "\e665";
}

